<a href="https://colab.research.google.com/github/kaythep003/ICCS225-final-project/blob/main/project_func_6580863.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Necessary installment and database connection**

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 17.9 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

In [2]:
%load_ext sql

In [3]:
%%sql
postgresql://root:CjPOYDeNLlFvKaLfLtiNgcZ12jUGJ6od@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project

# **SQL Schema**

In [6]:
%%sql
DROP TABLE IF EXISTS STUDENT_COURSE_MATERIAL CASCADE;
DROP TABLE IF EXISTS BOOKING CASCADE;
DROP TABLE IF EXISTS MATERIAL CASCADE;
DROP TABLE IF EXISTS ENROLLMENT CASCADE;
DROP TABLE IF EXISTS ROOM CASCADE;
DROP TABLE IF EXISTS COURSE CASCADE;
DROP TABLE IF EXISTS INSTRUCTOR CASCADE;
DROP TABLE IF EXISTS STUDENT CASCADE;

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [9]:
# Student as the first entity
%%sql
CREATE TABLE Student (
    student_id SERIAL PRIMARY KEY,
    full_name VARCHAR(100) NOT NULL,
    email VARCHAR(120) UNIQUE NOT NULL,
    password_hash TEXT NOT NULL,
    paid_status BOOLEAN DEFAULT FALSE
);

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [7]:
# Instructor as the second entity
%%sql
CREATE TABLE Instructor (
    instructor_id SERIAL PRIMARY KEY,
    full_name VARCHAR(100) NOT NULL,
    email VARCHAR(120) UNIQUE NOT NULL,
    instruments TEXT
);

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [8]:
# Course as the third entity
%%sql
CREATE TABLE Course (
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(120) NOT NULL,
    description TEXT,
    default_duration INTEGER CHECK (default_duration IN (30,60))
);

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [10]:
# Room as the forth entity
%%sql
CREATE TABLE Room (
    room_id SERIAL PRIMARY KEY,
    room_name VARCHAR(10) UNIQUE NOT NULL
);

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [11]:
# Enrollment (newly defined as Lesson) as the fifth entity
%%sql
CREATE TABLE Lesson (
    lesson_id SERIAL PRIMARY KEY,
    student_id INT REFERENCES Student(student_id) ON DELETE CASCADE,
    instructor_id INT REFERENCES Instructor(instructor_id) ON DELETE SET NULL,
    course_id INT REFERENCES Course(course_id) ON DELETE SET NULL,
    room_id INT REFERENCES Room(room_id),
    start_time TIMESTAMP NOT NULL,
    end_time TIMESTAMP NOT NULL,
    lesson_status VARCHAR(20) DEFAULT 'Scheduled'
);

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [12]:
# Booking as the sixth entity
%%sql
CREATE TABLE BOOKING (
    booking_id SERIAL PRIMARY KEY,
    student_id INT REFERENCES STUDENT(student_id),
    instructor_id INT REFERENCES INSTRUCTOR(instructor_id),
    course_id INT REFERENCES COURSE(course_id),
    room_id INT REFERENCES ROOM(room_id),
    start_time TIMESTAMP NOT NULL,
    end_time TIMESTAMP NOT NULL,
    status TEXT DEFAULT 'scheduled',
    is_rescheduled BOOLEAN DEFAULT FALSE
);

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [13]:
# Material the seventh entity
%%sql
CREATE TABLE MATERIAL (
    material_id SERIAL PRIMARY KEY,
    title TEXT NOT NULL,
    type TEXT NOT NULL,
    file_url TEXT NOT NULL
);

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [14]:
# STUDENT_COURSE_MATERIAL as the eight enity
%%sql
CREATE TABLE STUDENT_COURSE_MATERIAL (
    id SERIAL PRIMARY KEY,
    student_id INT REFERENCES STUDENT(student_id),
    course_id INT REFERENCES COURSE(course_id),
    material_id INT REFERENCES MATERIAL(material_id),
    notes TEXT
);

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

# **Example queries for each table **

In [15]:
%%sql
INSERT INTO STUDENT (name, email, password_hash, usual_learning_days, usual_learning_time)
VALUES
('Arissa K', 'arissa_k@example.com', 'hash1', 'Mon,Wed,Fri', '18:00-20:00'),
('Aticha C', 'ati000@example.com', 'hash2', 'Tue,Thu,Sat', '14:00-16:00'),
('Benyapa T', 'ben@example.com', 'hash3', 'Sat,Sun', '10:00-12:00'),
('Chittapon L', 'chittapon-ten@example.com', 'hash4', 'Mon,Wed,Fri', '16:00-18:00'),
('Darika P', 'darika@example.com', 'hash5', 'Tue', '09:00-10:00'),
('Grace Y', 'grace@example.com', 'hash6', 'Wed', '14:00-15:00'),
('Hareutai S', 'nene007@example.com', 'hash7', 'Mon,Thu', '11:00-12:00, 16:00-17:00'),
("Irin S", 'irinnnn@example.com', 'hash8', 'Tue,Fri', '13:00-14:00'),
('Kaewkwan S', 'kaewkwan@example.com', 'hash9', 'Mon,Wed', '14:30-16:30'),
('Mark L', 'mark@example.com', 'hash10', 'Mon,Wed,Fri', '12:00-15:00');

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
(psycopg2.errors.UndefinedColumn) column "name" of relation "student" does not exist
LINE 1: INSERT INTO STUDENT (name, email, password_hash, usual_learn...
                             ^

[SQL: INSERT INTO STUDENT (name, email, password_hash, usual_learning_days, usual_learning_time)
VALUES
('Arissa K', 'arissa_k@example.com', 'hash1', 'Mon,Wed,Fri', '18:00-20:00'),
('Aticha C', 'ati000@example.com', 'hash2', 'Tue,Thu,Sat', '14:00-16:00'),
('Benyapa T', 'ben@example.com', 'hash3', 'Sat,Sun', '10:00-12:00'),
('Chittapon L', 'chittapon-ten@example.com', 'hash4', 'Mon,Wed,Fri', '16:00-18:00'),
('Darika P', 'darika@example.com', 'hash5', 'Tue', '09:00-10:00'),
('Grace Y', 'grace@example.com', 'hash6', 'Wed', '14:00-15:00'),
('Hareutai S', 'nene007@example.com', 'hash7', 'Mon,Thu', '11:00-12:00, 16:00-17:00'),
("Irin S", 'irinnnn@example.com', 'hash8', 'Tue,Fri', '13:00-14:00'),
('Kaewkwan S', 'kaewkwan@example.com', 'hash9', 'Mon,Wed', '14:30-16:30'),
('Mark L', 'mark@example.com', 'hash10', 'Mon,Wed,Fri', '12:00-15:00');]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [16]:
%%sql
INSERT INTO INSTRUCTOR (name, email, instruments)
VALUES
('Johnny P', 'john@example.com', 'Piano'),
('Lalisa G', 'lisa@example.com', 'Guitar,Ukulele'),
('Melinda U', 'melinda@example.com', 'Singing'),
('Nelly Z', 'nelly@example.com', 'Violin,Viola'),
('Nicholas C', 'nicholas@example.com', 'Drum'),
('Opal K', 'opaque_opal@example.com', 'Piano, Keyboard'),
('Pheunprae T', 'pheunprae_work@example.com', 'Bass'),
('Raksa E', 'ruksa@example.com', 'Guitar, Flute'),
('Sitthorn L', 'sitthorn@example.com', 'Drum'),
('Xelda O', 'o.xelda@example.com', 'Saxophone');

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
(psycopg2.errors.UndefinedColumn) column "name" of relation "instructor" does not exist
LINE 1: INSERT INTO INSTRUCTOR (name, email, instruments)
                                ^

[SQL: INSERT INTO INSTRUCTOR (name, email, instruments)
VALUES
('Johnny P', 'john@example.com', 'Piano'),
('Lalisa G', 'lisa@example.com', 'Guitar,Ukulele'),
('Melinda U', 'melinda@example.com', 'Singing'),
('Nelly Z', 'nelly@example.com', 'Violin,Viola'),
('Nicholas C', 'nicholas@example.com', 'Drum'),
('Opal K', 'opaque_opal@example.com', 'Piano, Keyboard'),
('Pheunprae T', 'pheunprae_work@example.com', 'Bass'),
('Raksa E', 'ruksa@example.com', 'Guitar, Flute'),
('Sitthorn L', 'sitthorn@example.com', 'Drum'),
('Xelda O', 'o.xelda@example.com', 'Saxophone');]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [17]:
%%sql
INSERT INTO COURSE (title, instrument, lesson_duration, total_hours, price, difficulty)
VALUES
('Beginner Piano', 'Piano', 60, 10, 5000, 'Beginner'),
('Intermediate Piano', 'Piano', 60, 12, 6500, 'Intermediate'),
('Acoustic Guitar', 'Guitar', 60, 12, 6000, 'Beginner').
('Electric Guitar Level 1', 'Guitar', 60, 12, 6000, 'Beginner'),
('Basic Drumming', 'Drum', 60, 8, 4800, 'Beginner'),
('Advanced Drumming Techniques', 'Drum', 90, 15, 9000, 'Advanced'),
('Vocal Training', 'Singing', 60, 10, 7000, 'Beginner'),
('Violin Starter Course', 'Violin', 60, 10, 7200, 'Beginner'),
('Saxophone Fundamentals', 'Saxophone', 60, 10, 7800, 'Beginner'),
('Flute & Woodwind Basics', 'Flute', 60, 10, 5400, 'Beginner');

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
(psycopg2.errors.SyntaxError) syntax error at or near "."
LINE 5: ('Acoustic Guitar', 'Guitar', 60, 12, 6000, 'Beginner').
                                                               ^

[SQL: INSERT INTO COURSE (title, instrument, lesson_duration, total_hours, price, difficulty)
VALUES
('Beginner Piano', 'Piano', 60, 10, 5000, 'Beginner'),
('Intermediate Piano', 'Piano', 60, 12, 6500, 'Intermediate'),
('Acoustic Guitar', 'Guitar', 60, 12, 6000, 'Beginner').
('Electric Guitar Level 1', 'Guitar', 60, 12, 6000, 'Beginner'),
('Basic Drumming', 'Drum', 60, 8, 4800, 'Beginner'),
('Advanced Drumming Techniques', 'Drum', 90, 15, 9000, 'Advanced'),
('Vocal Training', 'Singing', 60, 10, 7000, 'Beginner'),
('Violin Starter Course', 'Violin', 60, 10, 7200, 'Beginner'),
('Saxophone Fundamentals', 'Saxophone', 60, 10, 7800, 'Beginner'),
('Flute & Woodwind Basics', 'Flute', 60, 10, 5400, 'Beginner');]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [18]:
%%sql
INSERT INTO ROOM (room_name, room_type, equipment)
VALUES
('Room A', 'Lesson', 'Piano, Stand'),
('Room B', 'Practice', 'Guitar, Bass Amp'),
('Room C', 'Lesson', 'Drum Kit'),
('Room D', 'Practice', 'Keyboard'),
('Room E', 'Practice', 'Violin Stand'),
('Room F', 'Practice', 'Mirror, Microphone');

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
(psycopg2.errors.UndefinedColumn) column "room_type" of relation "room" does not exist
LINE 1: INSERT INTO ROOM (room_name, room_type, equipment)
                                     ^

[SQL: INSERT INTO ROOM (room_name, room_type, equipment)
VALUES
('Room A', 'Lesson', 'Piano, Stand'),
('Room B', 'Practice', 'Guitar, Bass Amp'),
('Room C', 'Lesson', 'Drum Kit'),
('Room D', 'Practice', 'Keyboard'),
('Room E', 'Practice', 'Violin Stand'),
('Room F', 'Practice', 'Mirror, Microphone');]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [19]:
%%sql
INSERT INTO ENROLLMENT (student_id, course_id, purchase_date, hours_purchased, hours_used, expiration_date)
VALUES
(1, 1, '2025-01-01', 10, 2, '2025-06-01'),
(2, 3, '2025-01-15', 12, 0, '2025-07-15'),
(3, 5, '2025-01-14', 8, 0, '2025-07-14'),
(4, 7, '2025-01-20', 10, 4, '2025-07-20'),
(5, 2, '2025-02-01', 12, 3, '2025-08-01'),
(6, 4, '2025-02-14', 12, 2, '2025-08-14'),
(7, 6, '2025-02-22', 15, 5, '2025-09-22'),
(8, 8, '2025-03-02', 10, 1, '2025-09-02'),
(9, 9, '2025-03-10', 10, 0, '2025-09-10'),
(10, 10, '2025-03-18', 10, 2, '2025-09-18');

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
(psycopg2.errors.UndefinedTable) relation "enrollment" does not exist
LINE 1: INSERT INTO ENROLLMENT (student_id, course_id, purchase_date...
                    ^

[SQL: INSERT INTO ENROLLMENT (student_id, course_id, purchase_date, hours_purchased, hours_used, expiration_date)
VALUES
(1, 1, '2025-01-01', 10, 2, '2025-06-01'),
(2, 3, '2025-01-15', 12, 0, '2025-07-15'),
(3, 5, '2025-01-14', 8, 0, '2025-07-14'),
(4, 7, '2025-01-20', 10, 4, '2025-07-20'),
(5, 2, '2025-02-01', 12, 3, '2025-08-01'),
(6, 4, '2025-02-14', 12, 2, '2025-08-14'),
(7, 6, '2025-02-22', 15, 5, '2025-09-22'),
(8, 8, '2025-03-02', 10, 1, '2025-09-02'),
(9, 9, '2025-03-10', 10, 0, '2025-09-10'),
(10, 10, '2025-03-18', 10, 2, '2025-09-18');]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [20]:
%%sql
INSERT INTO BOOKING (student_id, instructor_id, course_id, room_id, start_time, end_time)
VALUES
(1, 1, 1, 1, '2025-04-01 18:00', '2025-04-01 19:00'),
(2, 2, 3, 2, '2025-04-02 19:00', '2025-04-02 20:00'),
(3, 5, 5, 3, '2025-04-03 10:00', '2025-04-03 11:00'),
(4, 3, 7, 6, '2025-04-04 14:00', '2025-04-04 15:00'),
(5, 1, 2, 1, '2025-04-05 16:00', '2025-04-05 17:00'),
(6, 2, 4, 2, '2025-04-06 18:00', '2025-04-06 19:00'),
(7, 5, 6, 3, '2025-04-07 12:00', '2025-04-07 13:00'),
(8, 4, 8, 5, '2025-04-08 15:00', '2025-04-08 16:00'),
(9, 10, 9, 9, '2025-04-09 11:00', '2025-04-09 12:00'),
(10, 8, 10, 10, '2025-04-10 09:00', '2025-04-10 10:00'),
(1, 1, 1, 1, '2025-04-11 18:00', '2025-04-11 19:00'),
(2, 2, 3, 2, '2025-04-12 19:00', '2025-04-12 20:00'),
(3, 5, 5, 3, '2025-04-13 10:00', '2025-04-13 11:00'),
(4, 3, 7, 6, '2025-04-14 14:00', '2025-04-14 15:00'),
(5, 1, 2, 1, '2025-04-15 16:00', '2025-04-15 17:00'),
(6, 2, 4, 2, '2025-04-16 18:00', '2025-04-16 19:00'),
(7, 5, 6, 3, '2025-04-17 12:00', '2025-04-17 13:00'),
(8, 4, 8, 5, '2025-04-18 15:00', '2025-04-18 16:00'),
(9, 10, 9, 9, '2025-04-19 11:00', '2025-04-19 12:00'),
(10, 8, 10, 10, '2025-04-20 09:00', '2025-04-20 10:00');

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
(psycopg2.errors.ForeignKeyViolation) insert or update on table "booking" violates foreign key constraint "booking_student_id_fkey"
DETAIL:  Key (student_id)=(1) is not present in table "student".

[SQL: INSERT INTO BOOKING (student_id, instructor_id, course_id, room_id, start_time, end_time)
VALUES
(1, 1, 1, 1, '2025-04-01 18:00', '2025-04-01 19:00'),
(2, 2, 3, 2, '2025-04-02 19:00', '2025-04-02 20:00'),
(3, 5, 5, 3, '2025-04-03 10:00', '2025-04-03 11:00'),
(4, 3, 7, 6, '2025-04-04 14:00', '2025-04-04 15:00'),
(5, 1, 2, 1, '2025-04-05 16:00', '2025-04-05 17:00'),
(6, 2, 4, 2, '2025-04-06 18:00', '2025-04-06 19:00'),
(7, 5, 6, 3, '2025-04-07 12:00', '2025-04-07 13:00'),
(8, 4, 8, 5, '2025-04-08 15:00', '2025-04-08 16:00'),
(9, 10, 9, 9, '2025-04-09 11:00', '2025-04-09 12:00'),
(10, 8, 10, 10, '2025-04-10 09:00', '2025-04-10 10:00'),
(1, 1, 1, 1, '2025-04-11 18:00', '2025-04-11 19:00'),
(2, 2, 3, 2, '2025-04-12 19:00', '2025-04-12 20:00'),
(3, 5, 5, 3, '2025-04-13 10:00', '2025-04-13 11:00'),
(4, 3, 7, 6, '2025-04-14 14:00', '2025-04-14 15:00'),
(5, 1, 2, 1, '2025-04-15 16:00', '2025-04-15 17:00'),
(6, 2, 4, 2, '2025-04-16 18:00', '2025-04-16 19:00'),
(7, 5, 6, 3, '2025-04-17 12:00', '2025-04-17 13:00'),
(8, 4, 8, 5, '2025-04-18 15:00', '2025-04-18 16:00'),
(9, 10, 9, 9, '2025-04-19 11:00', '2025-04-19 12:00'),
(10, 8, 10, 10, '2025-04-20 09:00', '2025-04-20 10:00');]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [21]:
%%sql
INSERT INTO MATERIAL (title, type, file_url)
VALUES
('Piano Level 1 PDF', 'pdf', 'http://example.com/piano1.pdf'),
('Piano Finger Drills Video', 'video', 'http://example.com/piano_drills.mp4'),
('Guitar Chord Chart', 'pdf', 'http://example.com/guitar_chart.pdf'),
('Guitar Strumming Video', 'video', 'http://example.com/strumming.mp4'),
('Drum Rudiments PDF', 'pdf', 'http://example.com/drum_rudiments.pdf'),
('Vocal Warmups MP3', 'audio', 'http://example.com/vocal_warmups.mp3'),
('Violin Bow Hold PDF', 'pdf', 'http://example.com/bowhold.pdf'),
('Saxophone Breathing Video', 'video', 'http://example.com/sax_breathing.mp4'),
('Flute Fingerings Chart', 'pdf', 'http://example.com/flute_chart.pdf'),
('Music Theory Basics', 'pdf', 'http://example.com/theory.pdf');

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
10 rows affected.

[]

In [22]:
%%sql
INSERT INTO STUDENT_COURSE_MATERIAL (student_id, course_id, material_id, notes)
VALUES
(1, 1, 1, 'Practice major scales daily'),
(2, 3, 3, 'Memorize open chords'),
(3, 5, 5, 'Work on wrist relaxation'),
(4, 7, 6, 'Daily warm-up routine before lesson'),
(5, 2, 2, 'Improve left hand technique'),
(6, 4, 4, 'Practice strumming patterns'),
(7, 6, 5, '20 minutes rudiments'),
(8, 8, 7, 'Focus on bow control'),
(9, 9, 8, 'Control breathing and tone'),
(10, 10, 9, 'Finger position exercises');

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
(psycopg2.errors.ForeignKeyViolation) insert or update on table "student_course_material" violates foreign key constraint "student_course_material_student_id_fkey"
DETAIL:  Key (student_id)=(1) is not present in table "student".

[SQL: INSERT INTO STUDENT_COURSE_MATERIAL (student_id, course_id, material_id, notes)
VALUES
(1, 1, 1, 'Practice major scales daily'),
(2, 3, 3, 'Memorize open chords'),
(3, 5, 5, 'Work on wrist relaxation'),
(4, 7, 6, 'Daily warm-up routine before lesson'),
(5, 2, 2, 'Improve left hand technique'),
(6, 4, 4, 'Practice strumming patterns'),
(7, 6, 5, '20 minutes rudiments'),
(8, 8, 7, 'Focus on bow control'),
(9, 9, 8, 'Control breathing and tone'),
(10, 10, 9, 'Finger position exercises');]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

# Constraits and data integrity

In [23]:
# prevent same room and time to overlap each other
%%sql
ALTER TABLE Lesson ADD CONSTRAINT chk_time_valid
CHECK (end_time > start_time);

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [24]:
%%sql
CREATE UNIQUE INDEX idx_room_time
ON Lesson(room_id, start_time, end_time);

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [25]:
# prevent double booking for the same student
%%sql
CREATE UNIQUE INDEX idx_student_time
ON Lesson(student_id, start_time, end_time);

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

# Triggers using PL/pgSQL

In [1]:
!pip install psycopg2-binary
import psycopg2

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.12/dist-packages (2.9.11)

In [7]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
%%sql
postgresql://root:CjPOYDeNLlFvKaLfLtiNgcZ12jUGJ6od@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project

In [8]:
# prevent time conflict for both room booking and students' scheduling
%%sql
CREATE OR REPLACE FUNCTION check_time_conflict()
RETURNS TRIGGER AS $$
BEGIN
    IF EXISTS (
        SELECT 1 FROM Lesson
        WHERE room_id = NEW.room_id
        AND (
            (NEW.start_time < end_time AND NEW.end_time > start_time)
        )
    ) THEN
        RAISE EXCEPTION 'Time conflict in this room.';
    END IF;

    IF EXISTS (
        SELECT 1 FROM Lesson
        WHERE student_id = NEW.student_id
        AND (
            (NEW.start_time < end_time AND NEW.end_time > start_time)
        )
    ) THEN
        RAISE EXCEPTION 'Student already booked at this time.';
    END IF;

    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [9]:
%%sql
CREATE TRIGGER trg_time_conflict
BEFORE INSERT OR UPDATE ON Lesson
FOR EACH ROW EXECUTE FUNCTION check_time_conflict();

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [10]:
# prevent rescheduling process that is less than 2 hrs before class time
%%sql
CREATE OR REPLACE FUNCTION prevent_last_minute_reschedule()
RETURNS TRIGGER AS $$
BEGIN
    IF OLD.start_time <> NEW.start_time THEN
        IF OLD.start_time - NOW() < INTERVAL '2 hours' THEN
            RAISE EXCEPTION 'Bookings cannot be changed within 2 hours.';
        END IF;
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [11]:
%%sql
CREATE TRIGGER trg_no_reschedule
BEFORE UPDATE ON Lesson
FOR EACH ROW EXECUTE FUNCTION prevent_last_minute_reschedule();

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

# SQL functions according to the UI design

In [12]:
# Login page -> verifying login
%%sql
CREATE OR REPLACE FUNCTION fn_login(p_email TEXT, p_password_hash TEXT)
RETURNS TABLE(student_id INT, full_name TEXT, paid BOOLEAN) AS $$
BEGIN
    RETURN QUERY
    SELECT student_id, full_name, paid_status
    FROM Student
    WHERE email = p_email AND password_hash = p_password_hash;
END;
$$ LANGUAGE plpgsql;

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [13]:
# Dashboard page -> get information for upcoming class schedule + history for past classes taking
%%sql
CREATE OR REPLACE FUNCTION fn_dashboard(p_student INT)
RETURNS TABLE(
    lesson_id INT,
    start_time TIMESTAMP,
    end_time TIMESTAMP,
    lesson_status VARCHAR
)
AS $$
BEGIN
    RETURN QUERY
    SELECT lesson_id, start_time, end_time, lesson_status
    FROM Lesson
    WHERE student_id = p_student
    ORDER BY start_time;
END;
$$ LANGUAGE plpgsql;

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [14]:
# booking page -> get available time slots
%%sql
CREATE OR REPLACE FUNCTION fn_available_times(
    p_room INT,
    p_date DATE
)
RETURNS TABLE(start_time TIMESTAMP, end_time TIMESTAMP) AS $$
BEGIN
    RETURN QUERY
    WITH hrs AS (
        SELECT generate_series(
            p_date + TIME '09:00',
            p_date + TIME '20:00',
            INTERVAL '30 minutes'
        ) AS t
    )
    SELECT t AS start_time, t + INTERVAL '30 min' AS end_time
    FROM hrs
    WHERE NOT EXISTS (
        SELECT 1 FROM Lesson
        WHERE room_id = p_room
        AND (t < end_time AND t + INTERVAL '30 min' > start_time)
    );
END;
$$ LANGUAGE plpgsql;

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [15]:
# create booking inside booking page
%%sql
CREATE OR REPLACE FUNCTION fn_book(
    p_student INT,
    p_instructor INT,
    p_course INT,
    p_room INT,
    p_start TIMESTAMP,
    p_duration INT
)
RETURNS INT AS $$
DECLARE new_id INT;
BEGIN
    INSERT INTO Lesson (
        student_id, instructor_id, course_id, room_id,
        start_time, end_time
    )
    VALUES (
        p_student, p_instructor, p_course, p_room,
        p_start, p_start + (p_duration || ' minutes')::INTERVAL
    )
    RETURNING lesson_id INTO new_id;

    RETURN new_id;
END;
$$ LANGUAGE plpgsql;

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]

In [16]:
# reschedule function inside the booking page
%%sql
CREATE OR REPLACE FUNCTION fn_reschedule(
    p_lesson INT,
    p_new_start TIMESTAMP
)
RETURNS VOID AS $$
DECLARE duration INTERVAL;
BEGIN
    SELECT end_time - start_time INTO duration
    FROM Lesson WHERE lesson_id = p_lesson;

    UPDATE Lesson
    SET start_time = p_new_start,
        end_time = p_new_start + duration
    WHERE lesson_id = p_lesson;
END;
$$ LANGUAGE plpgsql;

 * postgresql://root:***@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project
Done.

[]