<a href="https://colab.research.google.com/github/kaythep003/ICCS225-final-project/blob/main/project_func_6580863.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.12/dist-packages (0.5.0)
Requirement already satisfied: prettytable in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (3.17.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 15.6 MB/s eta 0:00:00
Installing collected packages: jedi
Successfully installed jedi-0.19.2

In [ ]:
%load_ext sql

In [ ]:
%%sql
postgresql://root:CjPOYDeNLlFvKaLfLtiNgcZ12jUGJ6od@dpg-d4jjc4obdp1s73806h6g-a.singapore-postgres.render.com/remote_project

In [ ]:
DROP TABLE IF EXISTS STUDENT_COURSE_MATERIAL CASCADE;
DROP TABLE IF EXISTS BOOKING CASCADE;
DROP TABLE IF EXISTS MATERIAL CASCADE;
DROP TABLE IF EXISTS ENROLLMENT CASCADE;
DROP TABLE IF EXISTS ROOM CASCADE;
DROP TABLE IF EXISTS COURSE CASCADE;
DROP TABLE IF EXISTS INSTRUCTOR CASCADE;
DROP TABLE IF EXISTS STUDENT CASCADE;

In [ ]:
# Student as the first entity
CREATE TABLE STUDENT (
    student_id SERIAL PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    password_hash TEXT NOT NULL,
    usual_learning_days TEXT,
    usual_learning_time TEXT
);

In [ ]:
# Instructor as the second entity
CREATE TABLE INSTRUCTOR (
    instructor_id SERIAL PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    instruments TEXT NOT NULL
);

In [ ]:
# Course as the third entity
CREATE TABLE COURSE (
    course_id SERIAL PRIMARY KEY,
    title TEXT NOT NULL,
    instrument TEXT NOT NULL,
    lesson_duration INT NOT NULL,
    total_hours INT NOT NULL,
    price NUMERIC(10,2) NOT NULL,
    difficulty TEXT
);

In [ ]:
# Room as the forth entity
CREATE TABLE ROOM (
    room_id SERIAL PRIMARY KEY,
    room_name TEXT NOT NULL,
    room_type TEXT NOT NULL,
    equipment TEXT
);

In [ ]:
# Enrollment as the fifth entity
CREATE TABLE ENROLLMENT (
    enrollment_id SERIAL PRIMARY KEY,
    student_id INT REFERENCES STUDENT(student_id),
    course_id INT REFERENCES COURSE(course_id),
    purchase_date DATE NOT NULL,
    hours_purchased INT NOT NULL,
    hours_used INT DEFAULT 0,
    expiration_date DATE NOT NULL
);

In [ ]:
# Booking as the sixth entity
CREATE TABLE BOOKING (
    booking_id SERIAL PRIMARY KEY,
    student_id INT REFERENCES STUDENT(student_id),
    instructor_id INT REFERENCES INSTRUCTOR(instructor_id),
    course_id INT REFERENCES COURSE(course_id),
    room_id INT REFERENCES ROOM(room_id),
    start_time TIMESTAMP NOT NULL,
    end_time TIMESTAMP NOT NULL,
    status TEXT DEFAULT 'scheduled',
    is_rescheduled BOOLEAN DEFAULT FALSE
);

In [ ]:
# Material the seventh entity
CREATE TABLE MATERIAL (
    material_id SERIAL PRIMARY KEY,
    title TEXT NOT NULL,
    type TEXT NOT NULL,
    file_url TEXT NOT NULL
);

In [ ]:
# STUDENT_COURSE_MATERIAL as the eight enity
CREATE TABLE STUDENT_COURSE_MATERIAL (
    id SERIAL PRIMARY KEY,
    student_id INT REFERENCES STUDENT(student_id),
    course_id INT REFERENCES COURSE(course_id),
    material_id INT REFERENCES MATERIAL(material_id),
    notes TEXT
);